@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&family=Rubik:wght@400;500;600;700&display=swap');

/* Estilização Geral */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: #0D0C0F;
}

/* Estilização Hero Section */

.hero {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    opacity: 0;
}

.overlay img {
    object-fit: cover;
    width: 100vw;
    height: 100%;
}

.overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(358.93deg, #0D0C0F 0.83%, rgba(13, 12, 15, 0.85) 28.55%, rgba(13, 12, 15, 0.26) 57.53%, rgba(13, 12, 15, 0.284314) 70.66%, #0D0C0F 103.18%);
    ;
}

/* Estilização Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    padding: 24px 44px;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 28px;
    font-size: 16px;
    font-weight: 400;
}

.menu ul>li {
    cursor: pointer;
}

.menu ul>li:first-child {
    font-weight: bold;
}


.nav-actions {
    display: flex;
    gap: 22px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-actions i {
    font-size: 20px;
}

.avatar-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}


.avatar-photo img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid white;
}

.avatar-photo {
    display: flex;
    align-items: center;
}

/* Estilização dos detalhes do filme */

.details {
    position: absolute;
    bottom: 130px;
    left: 100px;
    color: white;
    padding: 24px 44px;
    width: 100%;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    transform: scale(1.4);
}

.title-details ul {
    display: flex;
    gap: 24px;
    color: #9CA4AB;
}

.title-details ul>li:first-child {
    list-style: none;
}

.badge {
    background-color: #0D0C0F;
    width: fit-content;
    border-radius: 16px;
    padding: 4px 16px;
    margin-bottom: 24px;
}

.actions-buttons {
    margin-top: 16px;
}

.overview {
    line-height: 20px;
    width: 100%;
    max-width: 500px;
}

.title {
    font-size: 32px;
    margin-bottom: 8px;
    font-weight: bold;
}

.actions-buttons {
    width: fit-content;
    display: flex;
    gap: 16px;
}

.actions-buttons button {
    padding: 12px 24px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    border: none;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.actions-buttons i {
    font-size: 18px;
}

.actions-buttons .play {
    background-color: #00925D;

}

.actions-buttons .play:hover {
    background-color: #02c07b;
    transition: all 0.5s ease;
}

.actions-buttons .trailer {
    background-color: #28262D;
}

.actions-buttons .trailer:hover {
    background-color: #423f49;
    transition: all 0.5s ease;
}

.actions-buttons .add-watchlist {
    background-color: transparent;
    border: 1px solid white;
}

.actions-buttons .add-watchlist:hover {
    background-color: #423f49;
    transition: all 0.5s ease;
}

.logo-movie {
    position: absolute;
    bottom: 20%;
    right: 0;
    transform: scale(0.4);
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .actions-buttons {
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }

    .hero {
        overflow: auto;
        max-height: none;
    }

    .details {
        bottom: 0;
        transform: scale(1) !important;
        left: 0;
    }
}